mixin comment(imgName, userName, date, text)
	.user-comment
		.user-comment-avatar
			+avatar-small(imgName)
		.user-comment-wrap
			.comment-wrap
				.user-name= userName
				.user-date
					i(class="far fa-clock")
					span.user-date--dat
						|#{date}
			p.user-text
				|#{text}