extends ../layouts/clean.pug

block variables
	- var title = 'Обо мне - страница редактирования'

	include ../sections/header-admin.pug
		
block content
	.container
		.row
			.col-xl-10.offset-1
				.title-1.m-0.pt-60 Редактировать обо мне
				form.form.mb-100.pb-20.pt-35
						.fieldset__title Имя, Фамилия
						input(placeholder="Юрий Ключевский").input
						.fieldset__title.pt-30 Фотография
						.comment-row Изображение jpg или png, размером больше чем 100х100 пикселей, и весом до 2Мб.
						.control-row
							+file("file1")
						.about-editing-avatar
							+avatar-small('photo-big.jpg')
						.fieldset__title Информация на главной
						textarea(rows="5" placeholder="Введите текст сообщения").textarea
							| Я веб разработчик из Казани. Мне 28 лет.!{br}
							| Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
						.title-3.mt-50 Технологии
						.row.mb-40
							.col-xl-2.col-md-2
								.fieldset__title.technology__item-title HTML5
									input(placeholder="50").input.technology__item-input
							.col-xl-2.col-md-2
								.fieldset__title.technology__item-title CSS3
									input(placeholder="50").input.technology__item-input
							.col-xl-2.col-md-2
								.fieldset__title.technology__item-title JS
									input(placeholder="50").input.technology__item-input
							.col-xl-2.col-md-2
								.fieldset__title.technology__item-title jQuery
									input(placeholder="50").input.technology__item-input
						.row.mb-40
							.col-xl-2.col-md-2
								.fieldset__title.technology__item-title PHP
									input(placeholder="50").input.technology__item-input
							.col-xl-2.col-md-2
								.fieldset__title.technology__item-title MySQL
									input(placeholder="50").input.technology__item-input
						.row
							.col-xl-2.col-md-2
								.fieldset__title.technology__item-title Git
									input(placeholder="50").input.technology__item-input
							.col-xl-2.col-md-2
								.fieldset__title.technology__item-title Gulp
									input(placeholder="50").input.technology__item-input
							.col-xl-2.col-md-2
								.fieldset__title.technology__item-title Bower
									input(placeholder="50").input.technology__item-input
							.col-xl-2.col-md-2
								.fieldset__title.technology__item-title WebPack
									input(placeholder="50").input.technology__item-input
						.title-3.pt-30 Опыт работы
						.user-message.mb-20
							.user-message__header
								.user-message__date февраль 2017  — по настоящее время
								.user-message__button
									+button('Удалить','#','button--del')
							.title-4 Frontend разработчик, Вконтактe, mail.ru group
							.user-message__text Работы в команде Вконтакте. Работал в команде над обновление сервиса Музыка, работа над видео разделом. Создание видеоплеера. Создание кроссбраузерных компонентов. Работа над оптимизацией скорости загрузки медиа контента.
						.user-message.mb-20
							.user-message__header
								.user-message__date февраль 2017  — по настоящее время
								.user-message__button
									+button('Удалить','#','button--del')
							.title-4 Frontend разработчик, Вконтактe, mail.ru group
							.user-message__text Работы в команде Вконтакте. Работал в команде над обновление сервиса Музыка, работа над видео разделом. Создание видеоплеера. Создание кроссбраузерных компонентов. Работа над оптимизацией скорости загрузки медиа контента.
						.title-3 Добавить новое место работы
						.user-message
							label
							.fieldset__title Период
							input(placeholder="Введите даты начала и окончания работы").input.mb-15
							label
							.fieldset__title Название должности
							input(placeholder="Введите название должности").input.mb-15
							label
							.fieldset__title Описание работы, должностные обязанности, достигнутые результаты
							textarea(rows="5" placeholder="Напишите интересное краткое содержательное описание").textarea.mb-20
							+button('Добавить','#','button--save')

	include ../sections/footer.pug
	include ../layouts/_footer-part.pug
