extends ../layouts/login.pug

block variables
	- var title = 'Вход на сайт'
	- var pageClass = 'login-page'

block content
	.login-page__container
		.login-page-header
			.header__logo.ml-100
				a.header__logo-icon-link(href="#")
					i.far.fa-paper-plane
				.header__general
					p.header__title.mb-0
						a(href="index.html").header__title Супер Сайт
			.header-user.mt-45.mr-45
				a(href="registration.html").login-page__links Регистрация
		.login-page-form
			.login-page-form__header Вход на сайт
			.login-page-form__row
				+error('Введите email')
			.login-page-form__row
				input(type="email" placeholder="E-mail").input
			.login-page-form__row
				input(type="password" placeholder="Пароль").input
			.login-page-form__row
				.login-page-form__col
					+checkbox("Запомнить меня","checked")
				.login-page-form__col.float-right
					a(href="#").login-page__links Забыл пароль
			.login-page-form__footer
				+button('Войти','#','button--enter')
		.login-page-footer
				.footer__copyright 
					p Team02
					p Создано c 
						i.fas.fa-heart 
						|  в #[a(href='http://webcademy.ru/').link-bold WebCademy.ru] в 2017 году	
				