extends ../layouts/registration.pug

block variables
	- var title = 'Регистрация нового пользователя'
	- var pageClass = 'registration-page'

block content
	.registration-page__container
		.registration-page-header
			.header__logo.ml-100
				a.header__logo-icon-link(href="#")
					i.far.fa-paper-plane
				.header__general
					p.header__title.mb-0
						a(href="index.html").header__title Супер Сайт
			.header-user.mt-45.mr-45
				a(href="login.html").login-page__links Вход
		.registration-page-form
			.registration-page-form__header Регистрация
			.registration-page-form__row
				+error('Введите email')
			.registration-page-form__row.error-busy-email-password
				+error-with-desc('Данный email уже занят')
					.p Используйте другой email, чтобы создать новый аккаун								
					.p.mt-15 Или воспользуйтесь #[a(href="#").error-with-desc__link восстановлением пароля] , чтобы войти на сайт.
			.registration-page-form__row
				input(type="email" placeholder="E-mail").input
			.registration-page-form__row
				input(type="password" placeholder="Пароль").input
			.registration-page-form__footer
				+button('Регистрация','#','button--registration')
		.registration-page-footer
				.footer__copyright 
					p © Юрий Ключевский
					p Создано c 
						i.fas.fa-heart 
						|  в #[a(href='http://webcademy.ru/').link-bold WebCademy.ru] в 2017 году	
				
