extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Аватарки - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.title.mb-0 Аватарки
			p Образец большой аватарки
			.section-ui
				+avatar('photo-big.jpg')
			pre.
				+avatar('photo-big.jpg')

			p Образец маленькой аватарки 
			.section-ui
				+avatar-small('avatar-1.jpg')
			pre.
				+avatar-small('avatar-1.jpg')
