extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Типографика - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left.user-content
			.section-ui
				.title Типографика
				p Вся типографика и стилизация по тегам работает внутри класса <code>.user-content</code>
				.container
					.row
						.col-sm-3
							.title-medium Заголовки
							.title-1 Заголовок 1
							.title-2 Заголовок 2
							.title-3 Заголовок 3
							.title-4 Заголовок 4
							.title-5 Заголовок 5
							.title-6 Заголовок 6
						.col-sm-9
							.title-medium Текст - абзацы, ссылки в тексте
							p Парк находится в горах 
								a(href="#") Сьерра-Невада 
								|на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. 
							p Центром парка является долина 
								a(href="") Йосемити
								|, круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы.
							title-medium Список
								ul
									li Первый пункт
									li Второй пункт. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. 
									li Третий пункт
