
h1.blog__heading Национальный парк Йосемити
.blog__info-wrap
	span.blog__name Емельян Казаков
	span.blog__travel
		a(href="#") Путешествия
	span.blog__date 16 Марта 2017
	span.blog__comments 
		a(href="#") 2 комментария
.blog__image 
	img(src="../img/blog/yosemity.jpg", alt="yosemity")
.user-content
	p.
		Парк находится в горах #[a(href="#") Сьерра-Невада] на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. На этой площади расположены гранитные скальные стены огромной высоты, которыми, собственно, в первую очередь и знаменит парк, водопады, среди которых одни из самых высоких в США, три рощи гигантской секвойи — самого долгоживущего в мире дерева и самого большого по диаметру ствола, а также масса рек, озёр, лесов и лугов. 
	p.
		Центром парка является долина #[a(href="#") Йосемити,]  круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы. Если, на ваше счастье, медведей вы скорее всего не увидите, то оленей или бурундуков увидите почти гарантированно, даже не обладая специальными навыками.
