h3.user-comment-header
	|2 комментария

+comment('avatar-2.jpg', 'Джо До', '05 Мая 2017 года в 15:45', 'Замечательный парк, обязательно отправлюсь туда этим летом.')

+comment('avatar-3.jpg', 'Джо До', '05 Мая 2017 года в 15:45', 'Замечательный парк, обязательно отправлюсь туда этим летом.')