// Секция под футер для сайта
footer.footer.footer-bottom
	div.container
		div.footer__flex-wrap
			div.footer__copyright 
				p Team02
				p Создано c 
					i.fas.fa-heart 
					|  в #[a(href='http://webcademy.ru/').link-bold WebCademy.ru] в 2017 году
			div.footer-nav
				ul.footer__nav-list
					li.footer__nav-item
						a(href='#') Главная
					li.footer__nav-item
						a(href='#') Обо мне
					li.footer__nav-item
						a(href='#') Работы
					li.footer__nav-item
						a(href='#') Блог
					li.footer__nav-item
						a(href='#') Контакты
			div.footer__icons
				a(href='#')
					i.fab.fa-vk
				a(href='#')
					i.fab.fa-twitter
				a(href='#')
					i.fab.fa-youtube
				a(href='#')
					i.fab.fa-instagram
				a(href='#')
					i.fab.fa-facebook