include ../mixins/_header.pug

- var name = "Юрий Ключевский"
- var rank = "Пользователь"

-
	var navigation = [
			{name: 'Главная', link: '#', cssClass: "--active"},
			{name: 'Обо мне', link: '#'},
			{name: 'Работы', link: '#'},
			{name: 'Блог', link: '#'},
			{name: 'Контакты', link: '#'}
		];

//- Шапка пользователя (с информацией о пользователе)
.header
	.header--vignette
		.header__top.mb-0
			.header__logo
				a.header__logo-icon-link(href="#")
					i.far.fa-paper-plane
				.header__block-title
					p.header__title.mb-0
						a(href="#").header__title Digital Lifestyle
					p.header__subtitle.mt-0 Сайт IT специалиста
			.header-user__block
				.header-user__profil.float-left.mr-20
					+avatar-small('avatar-1.jpg')
				.header-user__profil-block
					.header-user__name= name
					.header-user__rank= rank
					.header-user__buttons-group
						.header-user__buttons-profile.mr-10
							+button('Профиль','#','button--profile')
						.header-user__buttons-signout
							+button('Выход','#','button--profile')
		.header__nav
			+navigation(navigation)